{% extends 'base.html' %}
{% block content%}
<h3 class='ajen-name-show'>{{headers.Name}}</h3>
<div class='ajen-about'>
    <div class='ajen-sm-6'>
        <img src='/static/img/profile_pic.jpg' class='img-responsive img-rounded ajen-thumbnail center-block'>
    </div>
    <div class='ajen-sm-6'>
        <p class='intro'>
            I am a fourth year Computer Science student at University of Waterloo. <br><br>

            I enjoy programming. During my free time, I love to work on my side projects.
            <br><br>

            If I have a choice, I prefer non-web-related tasks over web-related as I have terrible HTML/CSS skills ; ).
            <br><br>

            Building API and working on things related to backend technologies are two of my favorite areas.
            <br><br>

            For more information, you could check out my <a href='{{projectsURL}}'>projects</a> and <a href='{{resumeURL}}'>resume</a>.
        </p>
    </div>
</div>
{% endblock %}