{% extends 'base.html' %}
{% block content%}
<h3 class='ajen-name-show'>{{headers.Name}}</h3>
<div class='ajen-about'>
    <div class='ajen-sm-6'>
        <img src='/static/img/profile_pic.jpg' class='img-responsive img-rounded ajen-thumbnail center-block'>
    </div>
    <div class='ajen-sm-6'>
        <p class='intro'>
            I am a fourth year Computer Science student at University of Waterloo. <br><br>

            My favorite areas are writing APIs and working on backend-related technologies.
            <br><br>

            I really enjoy writing HTML/CSS, however, if I have a choice, I will prefer non-web-related tasks over web-related tasks ; ).
            <br><br>

            During my free time, you can find me at gym exercising as it helps me balance life in and out of school.
            <br><br>

            For more information, you could check out my <a href='{{projectsURL}}'>projects</a> and <a href='{{resumeURL}}'>resume</a>.
        </p>
    </div>
</div>
{% endblock %}