<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link rel="icon" href="../../favicon.ico"> -->

        <title>Fei-Yang Jen</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">

        <!-- logo css -->
        <link href="/static/css/linkedin_logo.css" type="text/css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    </head>

    <body>
        <!-- Set template variables -->
        {% set aboutURL = url_for('about') %}
        {% set projectsURL = url_for('projects') %}
        {% set resumeURL = url_for('resume') %}
        {% set contactURL = url_for('contact') %}

        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li {% if request.path == aboutURL or request.path == '/' %}class="active"{% endif %}>
                        <a href="{{ aboutURL }}">{{headers.About}}</a>
                    </li>
                    <li {% if request.path == projectsURL %}class="active"{% endif %}>
                        <a href="{{ projectsURL }}">{{headers.Projects}}</a>
                    </li>
                    <li {% if request.path == resumeURL %}class="active"{% endif %}>
                        <a href="{{ resumeURL }}">{{headers.Resume}}</a>
                    </li>
                    <li {% if request.path == contactURL %}class="active"{% endif %}>
                        <a href="{{ contactURL }}">{{headers.Contact}}</a>
                    </li>
                    <li> 
                        <a href="https://www.linkedin.com/pub/arthur-jen/56/528/914" target="_blank"><img src="/static/img/linkedin.jpeg" height="20" width="20"></a>
                    </li>
                    <li> 
                        <a href="https://github.com/FYJen" target="_blank"><img src="/static/img/github.jpeg" height="20" width="20"></a>
                    </li>
                </ul>
                <h3 class="text-muted">{{headers.Name}}</h3>
            </div>

            {% block content%}{% endblock %}

            <div class="footer">
                <p>&copy; {{headers.Name}} 2014</p>
            </div>

        </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     </body>
</html>
