{% extends 'base.html' %}
{% block content%}
<div class="row marketing">
    {% for project in projects%}
        <div class="col-sm-6">
            <div class='caption' style='padding-left:5px;'>
                <h4>{{ project.name }}</h4>
            </div>
            <div class='thumbnail'>
                <a href='{{project.link}}' target='_blank'><img src='{{project.thumbnail}}' class="img-responsive ajen-thumbnail-project"></a>
                <div class='caption'>
                    <ul style="padding-left: 20px;">
                        {% for task in project.tasks %}
                            <li>{{ task }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}